@import '../../../../constants/styles/sass-variables/breakpoints';
@import '../../../../constants/styles/sass-variables/colors';

$module: 'SinglePodcast';

.#{$module} {
    min-height: 150px;
    width: 100%;
    background: $white;
    box-sizing: border-box;
    cursor: pointer;
   
    display: flex;
    flex-direction: column-reverse;
    color: rgba(0,0,0,.84)!important;

    @media screen and (min-width: $tabletBreakpoint) { 
        grid-template-columns: 1fr;
        grid-column-gap: 20px;
        display: grid;
        grid-template-columns: 1fr 300px;
    }

    &-details {
        box-sizing: border-box;
        padding: 20px 20px;
        display: flex;
        flex-direction: column;
    }

    &-name {
        h3, p {
            padding: 0;
            margin: 0;
        }
    }

    &-snippet {
       margin: 0;
    }

    &-nameTags {
        display: flex;
        margin: 1rem 0 0.5rem 0;
        h3, p {
            padding: 0;
            margin: 0;
        }
    }

    &-dateLength {
        display: flex;
        justify-content: space-between;
        h3, p {
            padding: 0;
            margin: 0;
        }
    }
    &-image { 
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    &-imageInner { 
        height: 160px;
        width: 100%;
        @media screen and (min-width: $mobileLargeBreakpoint) { 
            height: 200px;
        }
    }
}