@import '../../../constants/styles/sass-variables/colors';
@import '../../../constants/styles/sass-variables/breakpoints';

$module: 'TextArea';

.#{$module} {
    position: relative;
    textarea {
        border: 1px solid $outline;
        min-height: 100px; 
        padding: 5px 25px;
        border-radius: 2px;
        font-size: 16px;
        outline: none;
        color: $charcoal;  
        width: 100%;
        box-sizing: border-box;
        -webkit-appearance: none;
    }

    i {
        position: absolute;
        left: 6px;
        top: 12px;
        font-size: 16px;
        color: $charcoal;
    }
}