@import '../../../constants/styles/sass-variables/breakpoints';
@import '../../../constants/styles/sass-variables/colors';

$module: 'CommunityPost';

.#{$module} {  
    margin: 2rem 0;
    background: $white;
    padding: 1.5rem 2rem;
    box-sizing: border-box;
    border-radius: 4px;

    &-originalPost {
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
        @media screen and (min-width: $mobileLargeBreakpoint) {  
            grid-column-gap: 20px;
            grid-template-columns: 150px 1fr;
        } 
    }

    &-image {
        display: flex;
        justify-content: flex-start;
        @media screen and (min-width: $tabletBreakpoint) {  
            justify-content: center;
        } 
        img {
            height: 100px;
            width: 100px;
            border-radius: 50%;
        }
    }

    &-details {

        h3 {
            margin: 1rem 0 0 0;
        }
    }

    &-nameDate {
        display: flex;
        flex-direction: column;
        p {
            margin: 0.5rem 0;
        }
        @media screen and (min-width: $tabletBreakpoint) {  
            flex-direction: row;
        } 
    }

    &-content {
        grid-column-start: 1;
        grid-column-end: 3;
        @media screen and (min-width: $tabletBreakpoint) {  
            grid-column-start: 2;
            grid-column-end: 3;
            margin-top: -3rem;
        }
    }

    &-viewMore {
        display: flex;
        justify-content: center;
        margin-top: 1rem;
     
        i {
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;
            width: 40px;
            cursor: pointer;
            &:hover {
                background: #efefef;

            }
        }
    }

    &-replies {
        display: flex;
        justify-content: flex-end;
    }

    &-repliesInner {
        width: 100%;
        @media screen and (min-width: $tabletBreakpoint) {  
            width: calc(100% - 170px);
         } 
    }

    .RichText-editor {
        min-height: unset;
    }

    &-replyActions {
        display: flex;
        align-content: center;
        margin: 1rem 0 0 0;
        button, p {
            font-size: 14px;
        }

        p {
            margin: 0;
        }

        button {
            background-color: $turquoise;
            color: $white;
            margin-right: 1rem;
        }
    }

    &-loggedOutReply {
        background: $ash;
        border-radius: 4px;
        padding: 1rem;
        margin-top: 0.5rem;
    }

}