@import '../../../constants/styles/sass-variables/colors';
@import '../../../constants/styles/sass-variables/breakpoints';

$module: 'Input';

.#{$module} {
    position: relative;
    input {
        border: 1px solid $outline;
        height: 40px; 
        padding: 0 25px;
        border-radius: 2px;
        font-size: 16px;
        outline: none;
        color: $charcoal;  
        width: 100%;
        box-sizing: border-box;
        -webkit-appearance: none;
    }

    i {
        &:not(.password-icon) {
            left: 6px;
        }
        position: absolute;
        top: 12px;
        font-size: 16px;
        color: $charcoal;
    }

    .password-icon {
        right: 6px;
    }
}