@import '../../constants/styles/sass-variables/breakpoints';
@import '../../constants/styles/sass-variables/colors';

$module: 'Podcast';

.#{$module} {
    display: flex;
    flex-direction: column;
    width: 90%;
    min-height: 100px;
    display: block;
    margin: 2rem auto;
    background: $white;
    &-details {
        cursor: pointer;
        padding: 0.5rem 1rem;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        color: black;
        @media only screen and (min-width: $mobileLargeBreakpoint) {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        @media only screen and (min-width: $tabletBreakpoint) {
            width: 80%;
        }
    
    }
 
    p {
        line-height: 1.5rem;
        margin: 0.5rem 0;
    }

    &-list {
        background: linear-gradient($turquoise,#820052,#23003e);
        min-height: 600px;
        margin: 0;
        padding: 1rem 0;

        button {
            height: 30px;
            width: 200px;
            border-radius: 5px;
            background: $skyBlue;
            color:$white;
            border: none;
            font-size: 14px;
        }
    }

    &-more {
        a, a:visited {
            text-decoration: none;        
            color: $turquoise;
        }
    }

    &-hosts {
        display: flex;
        justify-content: flex-end;
        img {
            height: auto;
            width: 80px;
            border-radius: 50%;
            margin: 10px;
        }
    }
}