@import '../../../../../constants/styles/sass-variables/breakpoints';
@import '../../../../../constants/styles/sass-variables/colors';

$module: 'TabDetails';

.#{$module} {   
    padding: 0 15px;
    box-sizing: border-box;
    background: $white;
    border-radius: 4px;

    &-title {
        border-bottom: 2px solid rgba(128, 128, 128, 0.1);
    }
    
    &-email, 
    &-firstName, 
    &-lastName {
        margin: 2rem 0 3rem 0;
    }

    &-profile {
        min-height: 300px;
        box-sizing: border-box;
        padding: 0 0 1rem 0;
    }

    &-profileEdit {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
   

        [type="file"] {
            border: 0;
            clip: rect(0, 0, 0, 0);
            height: 1px;
            overflow: hidden;
            padding: 0;
            position: absolute !important;
            white-space: nowrap;
            width: 1px;  
        }

        [type="file"] + label {
            background-color: $purple;
            border-radius: 4px;
            color: #fff;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Poppins', sans-serif;
            font-size: 1rem;
            font-weight: 700;
            height: 40px;
            width: 200px;
            line-height: 4rem;
            padding-left: 2rem;
            padding-right: 2rem;
            transition: background-color 0.3s;
        }
           
        [type="file"] + label * {
            pointer-events: none;
          }
    }


    .img-preview {
        max-width: 200px;
        max-height: 200px;
    }
    &-profileUpload {
        background: $ash;
        display: flex;
        justify-content: center;
        align-items: center;;
        padding: 2rem 0;
        box-sizing: border-box;
        margin-top: 1rem;
        background: $ash;
        @media only screen and (min-width: $mobileLargeBreakpoint) {
            margin-top: 0;
        }
        img {
            height: 150px;
            width: 150px;
            border: 1px solid $ash;
        }

        i {
            height: 70px;
            width: 70px;
            padding: 10px;
            background: $turquoise;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 30px;
            color: $white;
        }

        button {
            background: $turquoise;
            color: $white;
            font-size: 14px;
            margin-top: 1rem;
        }
    }

}