@import '../../../../../constants/styles/sass-variables/breakpoints';
@import '../../../../../constants/styles/sass-variables/colors';

$module: 'TabDetails';

.#{$module} {   
    padding: 0 15px;
    box-sizing: border-box;
    background: $white;
    border-radius: 4px;

    &-title {
        border-bottom: 2px solid rgba(128, 128, 128, 0.1);
    }

    &-profile {
        min-height: 300px;
        box-sizing: border-box;
        padding: 0 0 1rem 0;
    }

    &-profileImage {
        img {
            border-radius: 50%;
            margin-top: 1rem;
            max-width: 200px;
            height: auto;
        }
    }
}