@import '../../constants/styles/sass-variables/colors';
@import '../../constants/styles/sass-variables/breakpoints';

$module: 'ListItem';

.#{$module} {
    min-height: 50px;
    display: grid;
    padding: 5px 10px;
    border-bottom: 1px solid grey;
    cursor: pointer;
    line-height: 1.5rem;
    grid-template-columns: 1fr 80px 50px;
    grid-column-gap: 10px;
    @media only screen and (min-width: $mobileLargeBreakpoint) {
        grid-column-gap: 20px;
        grid-template-columns: 1fr 90px 60px;
    }
    @media only screen and (min-width: $tabletBreakpoint) {
        grid-template-columns: 1fr 160px 140px;
    }
}

.currentlyPlaying {
    background: #5F2E7A;    
}