@import '../../../../../constants/styles/sass-variables/breakpoints';
@import '../../../../../constants/styles/sass-variables/colors';

$module: 'TabEpisodes';

.#{$module} {   
    &-new {
        margin: 1rem 0;
        button {
            height: 40px;
            width: 200px;
            font-size: 16px;
            border-radius: 4px;
            background: #40c4bf;
            color: white;
            border: none;
        }
    }
}