@import '../../../../constants/styles/sass-variables/breakpoints';
@import '../../../../constants/styles/sass-variables/colors';

$module: 'DesktopLoggedIn';

.#{$module} {
    min-height: 100px;
    display: grid;
    grid-template-columns: 200px 1fr 150px;
    width: 90%;
    margin: 0 auto;

    &-logo {
        display: flex;
        align-items: center;
        a {
            display: flex;
        }
    }

    &-middle {
        display: flex; 
        align-items: center;
        justify-content: flex-end;
        padding-right: 1rem;
        a {
            color: $white; 
            margin: 0 1rem;
        }
    }

    &-profile {
        display: flex; 
        align-items: center;
        justify-content: flex-end;
    }
}