$black: #30393f;
$darkGrey: #333;
$ash: #F4F5F8;
$cloudy: #8492a6;
$slate: #5b5f66;
$charcoal: #404345;
$white: #FFF;
$orange: #FC6;
$peach: #fc9;
$turquoise: #1ad7a4;
$terracotta: #fe6652;
$mustard: #FF9D00;
$teak: #37464F;
$outline: rgba(34,36,38, .15);
$purple: #1D034A;