@import '../../../../../constants/styles/sass-variables/breakpoints';
@import '../../../../../constants/styles/sass-variables/colors';

$module: 'TabPodcasts';

.#{$module} {   
    background: white;
    border-radius: 4px;
    padding: 0 15px;

    &-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-emptyState {
        margin: 2rem auto;
        background: #40c4bf;
        height: 150px;
        width: 100%;
        max-width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        cursor: pointer;
        border-radius: 4px;
        padding: 2rem 0;
        &:hover {
            opacity: 0.9;
        }
        i {
            color: white;
            font-size: 50px;
        }
        button {
            font-size: 16px;
            border-radius: 4px;
            background: none;
            color: white;
            border: none;
            margin: 0 auto;
            display: block;
            font-weight: bold;
        }
    }
    
}




