@import '../../../../constants/styles/sass-variables/breakpoints';
@import '../../../../constants/styles/sass-variables/colors';

$module: 'UserPodcast';

.#{$module} {  
    border-top: 2px solid rgba(128, 128, 128, 0.1);
    padding-bottom: 2rem;

    p {
        line-height: 1.5rem;
    }

    &-details {
        p:last-child {
            word-break: break-all
        }
    }

    &-description {
        display: flex;
        flex-direction: column;  
        
        div {
            background: #e4e4e42b;
            padding: 0 10px;
            margin: 0 0 1rem 0;
        

            p {
                line-height: 1rem;
            }
        }
    }
    
    &-edit{
        button {
            height: 40px;
            width: 190px;
            font-size: 16px;
            border-radius: 4px;
            background: #6B004C;
            color: $white;
            border: none;
            @media only screen and (min-width: $tabletBreakpoint) {
                height: 40px;
                width: 200px;
            }
        }
    }
}