@import '../../../../constants/styles/sass-variables/colors';
@import '../../../../constants/styles/sass-variables/breakpoints';

$module: 'Button';

.#{$module} {
    button {
        border-radius: 4px;
        border: none;
        &:focus {
            outline: none;
        }
    }
  
}