@import '../../../constants/styles/sass-variables/breakpoints';
@import '../../../constants/styles/sass-variables/colors';

$module: 'Reply';

.#{$module} {  
    margin: 2rem 0;
    background: $white;
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-column-gap: 10px;
    &-image {
        img {
            height: 70px;
            width: 70px;
            border-radius: 50%;
        }
    }

    &-details {
        margin-top: 0.7rem;
        display: flex;
        flex-direction: column;
        @media screen and (min-width: $tabletBreakpoint) {  
            flex-direction: row;
        } 
        p {
            margin: 0;
        }
    }

    &-name {
        margin-right: 10px;
        font-weight: bold;
    }

    &-message {
        grid-column-start: 1;
        grid-column-end: 3;
        @media screen and (min-width: $tabletBreakpoint) {  
            grid-column-start: 2;
            grid-column-end: 3;
            margin-top: -3rem;
        }
    }
}