@import '../../constants/styles/sass-variables/breakpoints';
@import '../../constants/styles/sass-variables/colors';

$module: 'PodcastContent';

.#{$module} {
    width: 100%;
    min-height: 100vh;
    background: $ash;

    &-inner {
        margin: 0 auto;
        padding: 3rem 0;

        width: 90%;
        @media only screen and (min-width: $tabletBreakpoint) {
            width: 80%;
        }
    }

    &-details {
        display: grid;
        grid-template-columns: 1fr;
        background: $white;
        border-radius: 4px;
        margin-bottom: 1rem;
        padding: 20px;
        box-sizing: border-box;
        @media only screen and (min-width: $tabletBreakpoint) {
            grid-template-columns: 1fr 1fr;
            margin-bottom: 1.5rem;
        }
    }

    &-detailsLink > a {
        color: $turquoise;
        text-decoration: none;
    }

    &-detailsContact {
        button {
            background: $turquoise;
            color:$white;
            height: 35px;
            font-size: 16px;
            border: none;
            border-radius: 4px;
        }
    }

    &-hosts {
        background:$white; 
        border-radius: 4px;
        margin-bottom: 1rem;
        padding: 20px;
        @media only screen and (min-width: $tabletBreakpoint) {
            margin-bottom: 1.5rem;
        }
    }

    &-description {
        border-radius: 4px;
        padding: 20px;
        margin: 1rem 0;
        background:$white;
       border-top: 2px solid hsla(0,0%,50.2%,.1);
        p {
            line-height: 2rem;
        }
    }

    
}

.Platfore-modal {
    overflow: scroll;
}