@import '../../../../constants/styles/sass-variables/breakpoints';
@import '../../../../constants/styles/sass-variables/colors';

$module: 'NewPodcast';

.#{$module} {   
    width: 310px;
    left: calc(50% - 150px);
    background: $white;
    padding: 1rem;
    box-sizing: border-box;
    margin-top: 3rem;
    position:  absolute;
    border-radius: 4px;
    @media screen and (min-width: $mobileLargeBreakpoint) { 
        width: 450px;
        left: calc(50% - 220px);
    }

    @media screen and (min-width: $tabletBreakpoint) { 
        width: 650px;
        left: calc(50% - 330px);
    }

    &-name, 
    &-slug,
    &-tags,
    &-age,
    &-host,
    &-link {
        display: grid;
        grid-template-columns: 100px 1fr;
        margin-top: 1.5rem;
    }

    &-description {
        display: flex;
        flex-direction: column;
        margin-top: 1.5rem;
    }

    &-details {
        margin-bottom: 1rem;
        min-height: 400px;
    }

    &-save {
        margin-top: 1rem;
        button {
            height: 40px;
            width: 100%;
            font-size: 16px;
            border-radius: 4px;
            background: $turquoise;
            color: $white;
            border: none;
        }    
    }

    .error {
        margin: 0.5rem 0 1rem 0;
    }
}