@import '../../../constants/styles/sass-variables/breakpoints';
@import '../../../constants/styles/sass-variables/colors';

$module: 'Dashboard';

.#{$module} {   
    min-height: 500px;  
    padding: 2rem 0 4rem 0;
    background: #E5ECF1;

    &-inner {
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 200px 1fr;
        grid-column-gap: 20px;
    }

    &-navigation {

        ul {
            margin: 0;
        }
        li {
            margin-bottom: 1rem;
            list-style-type: none;
            cursor: pointer;
            background: white;
            padding: 10px;
            border-radius: 4px;
            text-align: center;
        } 
    }
}