@import '../../../constants/styles/sass-variables/breakpoints';
@import '../../../constants/styles/sass-variables/colors';

$module: 'Dashboard';

.#{$module} {   
    min-height: 400px;
    width: 80%;
    margin: 0 auto;

    &-email {
        margin: 2rem 0 3rem 0;
    }
}