@import '../../constants/styles/sass-variables/breakpoints';
@import '../../constants/styles/sass-variables/colors';

$module: 'Dashboard';

.#{$module} {   
    min-height: 500px;  
    padding: 2rem 0 4rem 0;
    background: $ash;

    &-inner {
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
        @media screen and (min-width: $tabletBreakpoint) { 
            grid-template-columns: 200px 1fr;
            grid-column-gap: 20px;
        }
    }

    &-deskopNavigation {
        display: none;
        @media screen and (min-width: $tabletBreakpoint) { 
            display: block;
        }
    }

    &-navigationItems {
        margin: 0;
        margin-block-start: 0;
        padding-inline-start: 0;
        ul {
            margin: 0;
        }
        li {
            margin-bottom: 1rem;
            list-style-type: none;
            cursor: pointer;
            background: $white;
            padding: 10px;
            border-radius: 4px;
            text-align: left;
            @media screen and (min-width: $tabletBreakpoint) { 
                text-align: center;
            }
        } 
    } 

    &-label {
        font-weight: bold;
        margin: 0;
        @media only screen and (min-width: $mobileLargeBreakpoint) {
            padding: 1rem 0;
        }
    }

    &-value {
        background: $ash;
        padding: 0.5rem 1rem;
        display: flex;
        width: max-content;
        border-radius: 4px;
        margin: 0;
        @media only screen and (min-width: $mobileLargeBreakpoint) {
            padding: 1rem;
        }
    }

    &-infoLabel {
        margin: 2rem 0 3rem 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 0.5rem;
        @media only screen and (min-width: $mobileLargeBreakpoint) {
            grid-template-columns: 150px 1fr;
        }
    }
}