@import '../../../constants/styles/sass-variables/breakpoints';
@import '../../../constants/styles/sass-variables/colors';

$module: 'Footer';

.#{$module} {
    background-color: #18002a;

    &-newsletter {
        background: orange;
        height: 150px;
        width: 300px;
        position: fixed;
        right: 100px;
        bottom: 100px;
        display: none;
    }

    &-inner {
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
        text-align: center;
        padding: 2rem 0;
        
        @media screen and (min-width: 400px) { 
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 20px;
            padding: 3rem 0;
        }

        @media screen and (min-width: 600px) { 
            grid-template-columns: repeat(4, 1fr);
            grid-column-gap: 20px;
            padding: 3rem 0;
        }
    }

    h3 , a {
        color: $white;
        font-size: 20px;
        font-weight: bold;
    }
}