@import '../../../constants/styles/sass-variables/breakpoints';

$module: 'Footer';

.#{$module} {
    background-color: #18002a;
    text-align: center;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    h3 , a {
        color: white;
        font-size: 20px;
    }
}