@import '../../../constants/styles/sass-variables/breakpoints';

$module: 'Footer';

.#{$module} {
    background-color: #18002a;
    min-height: 80px;

    &-inner {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        height: 80px;
    }

    h3 , a {
        color: white;
        font-size: 20px;
    }
}