@import '../../../../constants/styles/sass-variables/breakpoints';

$module: 'EditorsPick';

.#{$module} {
    height: 200px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: white;
    margin-bottom: 2.5rem;
    cursor: pointer;

    &-snippet {
         height: 60px;
        // overflow: hidden;
        background: pink;
        // white-space: nowrap;
         p {
            overflow: hidden;
            display: -webkit-box;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            // overflow : hidden;
            // text-overflow: ellipsis;
            // display: -webkit-box;
            // -webkit-line-clamp: 2;
            // -webkit-box-orient: vertical;
         }  
    }
}