@import '../../../../constants/styles/sass-variables/breakpoints';
@import '../../../../constants/styles/sass-variables/colors';

$module: 'EditorsPick';

.#{$module} {
    min-height: 170px;
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    background: $white;
    margin-bottom: 2.5rem;
    cursor: pointer;
    color: rgba(0,0,0,.84)!important;

    &-title {
        h3 {
            margin: 0.5rem 0;
            padding: 0;
        }
    }

    &-snippet {
        margin: 0.5rem 0 1rem 0;
    }

    &-name {
        h3 {
            margin: 0.5rem 0;
            padding: 0;
        }
    }

    &-dateLength {
        display: flex;
        justify-content: space-between;
        
        p {
            margin: 0.5rem 0;
            padding: 0; 
        }
    }
}