@import '../../../constants/styles/sass-variables/breakpoints';
@import '../../../constants/styles/sass-variables/colors';

$module: 'AudioPlayer';

.#{$module} {
    background: $silver;
    padding: 0 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    &-controls {
        height: 50px;
        display: grid;
        grid-column-gap: 5px;
        margin: 0 auto;  
        grid-template-columns: 15px 75px 20px 1fr 20px 40px;
        @media only screen and (min-width: $mobileLargeBreakpoint) {
            grid-column-gap: 10px;
            grid-template-columns: 25px 75px 30px 1fr 30px 55px;
        }
    }

    &-step {
        display: flex;
        align-items: center;
        justify-content: center;
        i {
            cursor: pointer;
            color: grey;
        }
    }

    &-play {
        display: flex;
        align-items: center;
        i {
            cursor: pointer;
            color: grey;
        }
    }

    &-duration {
        display: flex;
        align-items: center;
        p {
            color: grey; 
            font-size: 12px;
        }
    }

    &-progress {
        display: flex;
        align-items: center;
    }

    &-progressOuter {
        width: 100%;
        background: grey;
        border-radius: 4px;
        height: 10px;
    }


    &-progressBar {
        background: $turquoise;
        height: 100%;
        border-radius: 4px;
    }

    &-volume {
        display: flex;
        align-items: center;  
        i {
            cursor: pointer;
            color: grey;
        }
    }

    audio {
        width: 95%;
        background: $silver;
    }

    audio::-webkit-media-controls-panel {
        margin: 0 auto;

        border: none;
    }
}