@import '../../../constants/styles/sass-variables/breakpoints';

$module: 'Play';

.#{$module} {
    background: #18002a;
    color: white;
    display: flex;
    justify-content: center;
    padding: 3rem 0;

    &-inner {
        width: 90%;
        margin: 0 auto;
    }

    &-info {
        display: grid;
        grid-template-columns: 200px 1fr;
        grid-column-gap: 30px;
    }

    &-infoImage {
        display: flex;
        img {
            width: auto;
            height: 150px;
        }
    }

    &-player {
        margin: 2rem auto;
    }

    &-playerInner {
        width: 500px;
        margin: 2rem auto;
    }

    &-playerControls {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        border: 1px solid grey;
        padding: 10px;
        border-radius: 5px;
        div {
            display: flex;
            justify-content: center;
            align-items: center; 
        }
        i {
            font-size: 25px;
            cursor: pointer;
        }

        .circle {
            border: 1px solid white;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            width: 50px;
        }
    }

    &-playerProgress {
        padding: 1rem 0;
        .ui.progress .bar {
            height: 0.5em;
            display: block;
            line-height: 1;
            position: relative;
            width: 0%;
            min-width: 2em;
            background-color: #00b5ad;
            border-radius: .28571429rem;
            -webkit-transition: width .1s ease,background-color .1s ease;
            transition: width .1s ease,background-color .1s ease;
        }

        .ui.progress {
            position: relative;
            display: block;
            max-width: 100%;
            border: none;
            margin: 1em 0 2.5em;
            -webkit-box-shadow: none;
            box-shadow: none;
            background: grey;
            padding: 0;
            border-radius: .28571429rem;
        }
    }
}