@import '../../../constants/styles/sass-variables/breakpoints';

$module: 'Play';

.#{$module} {
    background: #18002a;
    color: white;
    display: flex;
    justify-content: center;
    padding: 3rem 0 7rem 0;

    &-inner {
        width: 90%;
        margin: 0 auto;
    }

    &-info {
        display: grid;
        grid-template-columns: 200px 1fr;
        grid-column-gap: 30px;
    }

    &-infoImage {
        display: flex;
        img {
            width: auto;
            height: 150px;
        }
    }

    &-playerHtml {
        margin: 0;
        display: flex;
        justify-content: center;
        background: pink;
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        background: #f1f3f4;
    }

    audio {
        width: 95%;
        background: #f1f3f4;
    }

    audio::-webkit-media-controls-panel {
        margin: 0 auto;

        border: none;
    }
}